.new-todo-form {
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px grey;
}

.new-todo-input {
    font-size: 16px;
    padding: 8px;
    border: none;
    border-bottom: 2px solid #ddd;
    border-radius: 8px;
    width: 70%;
    outline: none;
}

.new-todo-button {
    cursor: pointer;
    outline: none;
    margin-left: 26px;
    display:inline-block;
    padding: 8px;
    border-radius:8px;   
    height:60px;
    border:none;
    background-color:#2e7cf1;
    color:white;
    font-size:16px;    
    transition: .5s ease-in;   
}

.new-todo-button:hover{
    box-shadow:0 14px 6px 0 rgba(93,93,93,.25), 0 1px 3px 0 rgba(0,0,0,.15);
    background-color:#1e55a7;
    transform:translateY(-4px);
    transition:opacity 1s cubic-bezier(.645,.045,.355,1),-webkit-transform .8s cubic-bezier(.645,.045,.355,1);
}