.todo-item-container {
    background: #fff;
    border-radius: 8px;
    margin-top: 8px;
    padding: 16px;
    position: relative;
    box-shadow: 0 4px 8px grey;
}

.buttons-container {
    position: absolute;
    right: 12px;
    bottom: 12px;
}


.completed-button {
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding: 8px;
    border-radius:8px;   
    height:60px;
    border:none;
    background-color:#3fd47d;
    color:white;
    font-size:16px;    
    transition: .5s ease-in;  
}

.completed-button:hover{
    box-shadow:0 14px 6px 0 rgba(93,93,93,.25), 0 1px 3px 0 rgba(0,0,0,.15);
    background-color:#279153;
    transform:translateY(-4px);
    transition:opacity 1s cubic-bezier(.645,.045,.355,1),-webkit-transform .8s cubic-bezier(.645,.045,.355,1);
  }

.remove-button {
    cursor: pointer;
    outline: none;
    margin-left: 8px;
    display:inline-block;
    padding: 8px;
    border-radius:8px;   
    height:60px;
    border:none;
    background-color:#F93C64;
    color:white;
    font-size:16px;    
    transition: .5s ease-in;  
}

.remove-button:hover{
    box-shadow:0 14px 6px 0 rgba(93,93,93,.25), 0 1px 3px 0 rgba(0,0,0,.15);
    background-color:#c0003a;
    transform:translateY(-4px);
    transition:opacity 1s cubic-bezier(.645,.045,.355,1),-webkit-transform .8s cubic-bezier(.645,.045,.355,1);
  }